.headings{
    margin-top: 4px;
   background-color: beige;
   height: fit-content; 
   font-weight: bold;
   font-size: 20px;
   border-radius: 4px;
   
}
#DashboardDiv1{
    border-width: 4px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-color: whitesmoke;
    background-color: #BB8FCE;
    height: fit-content;
    width: 500px;
    padding: 4px;
}
#DashboardDiv2{
    border-width: 4px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-color: whitesmoke;
    background-color: #AA336A;
    color: white;
    height: fit-content;
    width: 500px;
    padding: 4px;
}
